<ion-header>
  <ion-toolbar>
    <ion-title>Technologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1><b>HTML</b></h1>
<p>I have used in my courses before.I am good in it </p>
<h1><b>CSS</b></h1>
<p>I have used in my courses before.I have good command and its easy to use to personalize app</p>
<h1><b>VISUAL STUDIO CODE </b></h1>
<p>I am comfortable in using this vs code as it is one of the best tool to work on</p>
<h1><b>JAVA Script </b></h1>
<p>New user to java script and learning in this course </p>
<h1><b>IONIC</b></h1>
<p>New user to java script and learning in this course</p>
<h1><b>ANGULAR</b></h1>
<p>New user to java script and learning in this course </p>
<h1><b>CHROME</b></h1>
<p>New user to java script and learning in this course </p>
<h1><b> API </b></h1>
<p>New user to java script and learning in this course </p>
</ion-content>
