<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/jimi.jpeg"/>
  <p></p>
  <img src="assets/img/sarah.jpeg"/>
  <p>Sarah is a Nurse in Baltimore, U.S. She lives with her husband who is a Banker. They spend most of their time at work.
    Sarah always feels tired after work and doesn't have the strength to cook food. But they have to eat as her husband doesn't know how to cook.
    She doesn't want to go out for dinner because she's exhausted and is very selective of the food she eats.</p>

</ion-content>
