<ion-header>
  <ion-toolbar>
    <ion-title>Sketches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/img/tab1.png" width="302" height="655"/><br>
<h1> <p> Main page </p></h1>
<img src="assets/img/tab2.png" width="302" height="655"/><br>
<img src="assets/img/tab3.png" width="302" height="655"/><br>
<img src="assets/img/tab4.png" width="302" height="655"/><br>
<img src="assets/img/tab5.png" width="302" height="655"/><br>
</ion-content>
