<ion-header>
  <ion-toolbar>
    <ion-title>Critique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1><b>BURRPLE</b></h1>

  <ul><li>
    <h1><b>Pros</b></h1>

    <li>Love the idea of food and people</li>
    <li>Community driven</li>
    <li>Direct feedback from consumers with frequent hangouts</li>
    <li>Agile based development</li>
    
    <h1><b>Cons</b></h1>
    
    <li>Does not have a big team, if large scale collaboration is something you desire</li></ul>

 
</ion-content>
