<ion-header>
  <ion-toolbar>
    <ion-title>Goal</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ul> 
     <li>Improve usability and the overall user experience of food delivery applications.</li>
  <li><h1>To deliver a unique experience to our customers through delivering great food, friendly, attentive service, excellent price and a welcoming presence</h1></li>
</ul>

</ion-content>
